RewriteEngine On

# Detect curl/wget and redirect to install.sh
RewriteCond %{HTTP_USER_AGENT} ^curl.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Wget.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^fetch.* [NC]
RewriteRule ^$ /install.sh [L]

# Default to index.html
DirectoryIndex index.html
